USE [master]
GO
/****** Object:  Database [TP_WEB_SEMENZA_KUSTERS]    Script Date: 27/5/2019 16:49:38 ******/
CREATE DATABASE [TP_WEB_SEMENZA_KUSTERS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP_WEB_SEMENZA_KUSTERS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP_WEB_SEMENZA_KUSTERS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP_WEB_SEMENZA_KUSTERS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP_WEB_SEMENZA_KUSTERS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_WEB_SEMENZA_KUSTERS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_WEB_SEMENZA_KUSTERS]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 27/5/2019 16:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[DNI] [int] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Apellido] [varchar](30) NOT NULL,
	[Email] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 27/5/2019 16:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOUCHERS]    Script Date: 27/5/2019 16:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUCHERS](
	[ID] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VouchersXClientes]    Script Date: 27/5/2019 16:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VouchersXClientes](
	[dnicliente] [int] NOT NULL,
	[IDvoucher] [varchar](50) NOT NULL,
	[IDProducto] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDvoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VouchersXClientes]  WITH CHECK ADD FOREIGN KEY([dnicliente])
REFERENCES [dbo].[CLIENTES] ([DNI])
GO
ALTER TABLE [dbo].[VouchersXClientes]  WITH CHECK ADD FOREIGN KEY([IDProducto])
REFERENCES [dbo].[PRODUCTOS] ([ID])
GO
ALTER TABLE [dbo].[VouchersXClientes]  WITH CHECK ADD FOREIGN KEY([IDvoucher])
REFERENCES [dbo].[VOUCHERS] ([ID])
GO
USE [master]
GO
